:root {
    --bg-color:#00A676;
    --div-bg-color:#1A535C;
    --white-color:#F7FFF7;
    --red-color:#FF6B6B;
    --yello-color:#FFE66D;
}

.ProjectTitle {
    color: var(--white-color);
    text-align: center;
    padding: 0.7em;
    border: 10px;
    border-style: solid;
    border-color: var(--yello-color);
    border-radius: 25px;;
}

.Abstract {
    color: var(--white-color);
    padding: 0.7em;
    border-radius: 10px;
}

body {
    background-color: var(--bg-color);
    font-family:Arial, Helvetica, serif;
}
div {
    background-color: var(--div-bg-color);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
}