:root {
    --bg-color:#00A676;
    --div-bg-color:#1A535C;
    --white-color:#F7FFF7;
    --red-color:#FF6B6B;
    --yello-color:#FFE66D;
}

.ProjectTitle {
    color: var(--white-color);
    text-align: center;
    padding: 0.7em;
    border: 10px;
    border-style: solid;
    border-color: var(--yello-color);
    border-radius: 25px;;
}

.Abstract {
    color: var(--white-color);
    padding: 0.7em;
    border-radius: 10px;
}

.SrcCode {
    padding-left: 0.2em;
    border-radius: 10px;
    max-height: 70vh;
    overflow-y: scroll;
}

body {
    background-color: var(--bg-color);
    font-family:Arial, sans-serif;
}
div {
    background-color: var(--div-bg-color);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    overflow-x: auto;
    border-radius: 5px;
    white-space: pre-wrap;
}
code {
    font-family: monospace;
    font-size: 1em;
    color: #333;
}